<a href="https://colab.research.google.com/github/201921027/graduate_project_git/blob/main/gp_data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os

def get_files_count(folder_path):
  dirListing= os.listdir(folder_path)
  return len(dirListing)

In [ ]:
folder_path='/content/drive/MyDrive/Colab Notebooks/graduation_project/data/data'
data_count=get_files_count(folder_path)
print(data_count) # 모든 data 개수

4619

In [ ]:
from xml.etree import ElementTree
import csv

In [ ]:

file_list= os.listdir(folder_path)
xml_list= list()
for file in file_list:
  if '.xml' in file:
    xml_list.append(file)

# # xml 전처리
# for xml_file in xml_list:
#   target_path= folder_path + '/' + xml_file
#   with open(target_path, 'rt', encoding='UTF8') as f:
#     lines=f.readlines()
#   with open(target_path, 'w', encoding='UTF8') as f:
#     for line in lines:
#       f.write(line.replace('&','&amp;').replace('</SJML>s','</SJML>').replace('\"파괴\"', '&quot;파괴&quot;')
#       .replace('<패스파인더>', '&lt;패스파인더&gt;').replace('<조커>', '&lt;조커&gt;'))
#       # print(line)

In [ ]:
target_xml= list()
xml_root= list()

for xml_file in xml_list:
  target_path= folder_path + '/' + xml_file
  print(target_path)
  targetXML= open(target_path, 'rt', encoding='UTF8')

  current_file = ElementTree.parse(targetXML)
  target_xml.append(current_file)
  xml_root.append(current_file.getroot())

In [ ]:
# test print
print(len(target_xml))
for data in xml_root[0]:
  print(data.tag, data.attrib, data.text)
  for x in data:
    print('   ', x.tag, x.attrib, x.text)
    for y in x:
      print('       ', y.tag, y.attrib, y.text)

4619
header {}

    fileInfo {}

        fileId {} WDRW1900102284
        annoLevel {} 원시
        category {} 비출판물 > 수필
    sourceInfo {}

        title {} 싱가포르에서의 교환학생 생활을 바탕으로 싱가포르 날씨 및 택시 이용법 설명글
        author {'id': 'P02284', 'age': '21', 'occupation': '대학생/대학원생', 'sex': 'F', 'submission': '온라인', 'handwriting': 'No'} 송보경
text {'date': '20200000', 'subclass': 'null_싱가포르 가이드'}

    p {} 안녕하세요? 지난 2019년 1월부터 5월까지 싱가포르 난양공대 교환학생으로 생활하였던 대학생 Deok입니다. 5개월이라는 짧다면 짧은 길다면 긴 시간 동안, 싱가포르에서 생활하며 싱가포르를 여행할 때, 반드시 필요한 사항들을 30분 안에 담아보려고 해요. 싱가포르 여행을 계획하며 혹은 싱가포르로 향하는 비행기 안에서 살짝쿵 들의시면서 '아~ 싱가포르는 이런 나라구나?'를 느끼셨으면 합니다. 자 그럼 지금부터 여행덕후 Deok과 함께하는 싱가포르 정복 시작하겠습니다.
    p {} '싱가포르 날씨는 어떤가요?'
    p {} 네! 바로 제가 싱가포르를 방문하기 전, 가장 많이 검색했던 내용 중 하나인 '싱가포르 기후'에 관해서 알려드리려고 해요. 적도부근에 위치한 싱가포르는 한국처럼 사계절이 존재하지 않고 1년내내 무덥습니다. 평균 30도 정도라고 생각하시면 좋을 것 같아요. 한여름 대낮에 야외활동은 피하라고들 하잖아요? 싱가포르에서도 마찬가지입니다. 아무것도 모르고 오후 2시에 돌아다녔다가 더워서 죽을 뻔했답니다. 오후 12시부터 오후 3시까지는 되도록 실내 활동을 하시는 것을 추천해요. 안그랬다가는 함께 여행 온 가족 혹은 친구 그리고 자기 자신에게 화를 낼 수도 있답니다. 온도도 온도지만 소나기가 무척 자주 내리기도 합니다. 그렇기에 많은 싱가포르 도보 곳곳에 지붕이 설치되어 있어요. 하지만 언제 어디서 비가 올지 모르니 우산은 필수겠죠? 밖은 무덥지만 건물 내부는 무척 추운게 싱가포르의 특징이에요. 에어컨을 무지막지하게 잘 틀어주거든요! 혹시라도 건물 내부에서 오래 계실 계획이라면 얇은 가디건 하나는 챙겨가시는 것을 추천합니다.
    p {} '발도 아프고 앉아서 가고 싶다. 우리 택시 탈래?'
    p {} 싱가포르에서 택시를 타는 방법은 크게 2가지가 있습니다. 첫째, 그냥 한국처럼 택시를 팔로 휘적거리며 잡는다. 둘째, Uber 앱을 이용하여 잡는다. 저는 첫째보다는 두번째 방법을 추천해드려요. 그냥 팔로 휘적휘적 잡은 택시의 경우, 미터기로 요금이 측정되어 막히는 순간 요금이 후다닥 올라가버리기 때문이요. 그러는 반면, Uber 앱을 이용한다면, 이용을 희망하여 요청 버튼을 누른 그 순간 정해진 가격이 절대 변동되지 않습니다. 아무리 차가 막히고 아무리 천천히 가도 말이죠!

In [ ]:
import pandas as pd

In [ ]:
# xml -> 필요한 것만 추출해서 list
list_data=list()
for i in range(len(xml_root)):
  for data in xml_root[i]:
    temp=''
    for x in data.iter('category'):
      category= x.text
    for x in data.iter('title'):
      title= x.text
    for x in data.findall('p'):
      temp = temp + ' ' + x.text

  list_data.append([category])
  list_data[i].append(title)
  list_data[i].append(temp)

print(len(list_data))

4619

In [ ]:
# csv 파일 생성
with open("/content/drive/MyDrive/Colab Notebooks/graduation_project/data/data.csv", 'w', encoding='utf-8') as csvfile:
  csv_writer= csv.writer(csvfile)
  csv_writer.writerows([['category', 'title', 'text']])
  csv_writer.writerows(list_data)

In [ ]:
csv_data= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/graduation_project/data/data.csv')

In [ ]:
csv_data.head()

,category,title,text
0,비출판물 > 수필,싱가포르에서의 교환학생 생활을 바탕으로 싱가포르 날씨 및 택시 이용법 설명글,안녕하세요? 지난 2019년 1월부터 5월까지 싱가포르 난양공대 교환학생으로 생활...
1,비출판물 > 수필,첫사랑의 소원,"첫 입맞춤은 사탕과 같이 달콤하다고 누가 그랬던가, 그 날의 나에게 있어서, 내 ..."
2,비출판물 > 감상문,영화 캣츠를 보고나서,일단 첫 시작은 나쁘지 않았던 것 같아요... 당신의 이상적인 고양이 수인은 어떤...
3,비출판물 > 수필,또 다른 꿈,2016년에는 크고 작은 일들이 유난히 많았다. 그중에서도 가장 크게 남아있는 기...
4,비출판물 > 수필,위염,얼마 전 위염에 걸렸었다. 위에 가스가 차고 시도때도 없이 속이 쓰리는 게 부정할...

In [ ]:
# print(csv_data['category'].nunique())
# print(csv_data['category'].unique())

In [ ]:
filter_category= ['비출판물 > 일기',
'비출판물 > 기타 > 경험담',
'비출판물 > 기타 > 여행후기']

filter_csv= csv_data.loc[csv_data['category'] == filter_category[0]]
for i in range(1, len(filter_category)): 
  temp= csv_data.loc[csv_data['category'] == filter_category[i]]
  filter_csv= filter_csv.append(temp, ignore_index=True)
filter_csv.head()

,category,title,text
0,비출판물 > 일기,걱정,오늘도 일기를 쓰기 위해 연필을 들었다. 오늘은 2월 5일. 벌써 2020년이 2...
1,비출판물 > 일기,20141008,오늘 아침도 여전히 졸렸다. 잠을 적게 자는 것도 아니고 피곤한 일을 하는 것도 ...
2,비출판물 > 일기,나의 요즘,사람과 사람이 만났을 때 가장 많이 하는 말은 '요즘 뭐하고 지내?' 일 것이다....
3,비출판물 > 일기,편입일기.. 연예인 매니저한테 화내기..,평생을 열심히 살아본 적이 없다고 스스로 생각했다. 성공한 인생을 부러워만하고 노...
4,비출판물 > 일기,백수의 하루,전날 난 일찍자고 일찍 일어나서 일반인의 하루를 보내리라 결심을 한다 하지만 밤이...

In [ ]:
print(len(filter_csv))
# 비출판물 > 일기' -> 1156개
# '비출판물 > 수필' -> 1193개
# 수필은 제외하기로 함. -> 이유: 글이 너무 길고, 효용성이 떨어짐

1165

In [ ]:
# test= filter_csv.loc[filter_csv['category']=='비출판물 > 수필']
# test.head()
# # print(len(test))

In [ ]:
# # 최종 csv 데이터
# # 1) shuffle
# output_csv= filter_csv.sample(frac=1).reset_index(drop=True)
# output_csv.head()

In [ ]:
# # 2) 데이터 개수를 600개로 맞춤 (인당 150개)
output_csv= filter_csv.iloc[:600]
print(len(output_csv))

600

In [ ]:
# 필터링한 df을 csv로 저장
filter_csv.to_csv('/content/drive/MyDrive/Colab Notebooks/graduation_project/data/filter_data.csv')